!!!
%html
  %head
    %script{type: "text/javascript", src: "d3.v3.min.js"}
    %script{type: "text/javascript", src: "jquery.js"}
    %script{type: "text/javascript", src: "main.js"}
    %script{type: "text/javascript", src: "app.js"}
    %link{rel: "stylesheet", type: "text/css", href: "base.css"}
  %body
    %form
      %input{type: "text"}
      %button{type: "sumbmit"}Submit

    %div#graph

